In [183]:
import pandas as pd
import numpy as np
import os
import json

In [184]:
#json_data = "purchase_data.json"
#p_data_df = pd.read_json(json_path)
#p_data_df.head()


json_path = 'raw_data\purchase_data.json'
p_data_df = pd.read_json(json_path)
p_data_df.head()
players_csv = pd.read_csv ('raw_data\players.csv')
#data = json.loads(json_data)
#pprint(data)

In [185]:
p_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [186]:
players_csv.head()

             SN
0     Marughi89
1     Lirtedy26
2  Chamistast30
3     Lisirra25
4      Lirtim36

In [187]:
player_count = len(p_data_df['SN'].unique())
player_count

573

In [188]:
num_players_df = pd.DataFrame({"Number of Players":[player_count]})
num_players_df

   Number of Players
0                573

### Purchasing Analysis (Total)

In [189]:
# Purchasing Analysis (Total)
item_count = len(p_data_df['Item ID'].unique())
item_count
# Number of Unique Items
# Average Purchase Price
avg_pp = round(p_data_df['Price'].mean(), 2)
avg_pp
# Total Number of Purchases
ttlp = len(p_data_df['Price'])
ttlp
# Total Revenue
ttlr = round(p_data_df['Price'].sum(), 2)
ttlr

2286.33

In [190]:
pur_analysis = pd.DataFrame({
    "Number of Items":[item_count],
    "Average Purchase Price": avg_pp,
    "Total # of Purchases": ttlp,
    "Total Revenue": ttlr
})

pur_analysis.style.format({'Average Purchase Price': '${:.2f}', 'Total Revenue': '${:,.2f}'})
pur_analysis

,Average Purchase Price,Number of Items,Total # of Purchases,Total Revenue
0,2.93,183,780,2286.33

In [191]:
# Gender Demographics

# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

In [192]:
p_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [193]:
unique_players = p_data_df.drop_duplicates('SN')
len(unique_players)

573

In [194]:
gender_breakdown = pd.DataFrame(unique_players['Gender'].value_counts())
gender_breakdown

                       Gender
Male                      465
Female                    100
Other / Non-Disclosed       8

In [195]:
gender_perc = round(gender_breakdown/player_count*100)
gender_perc.rename(columns = {"Gender": "Percent of Gender"})

                       Percent of Gender
Male                                81.0
Female                              17.0
Other / Non-Disclosed                1.0

In [196]:
# The below each broken by gender
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Normalized Totals normalized_df=(df-df.min())/(df.max()-df.min()) 
gen_price=p_data_df.groupby(["Gender"])['Price'].sum()
gen_pur=p_data_df.groupby(["Gender"])['Price'].count()
gen_users=p_data_df.groupby(["Gender"])
avg_gen= round(gen_price/gen_pur,2)

In [197]:
gen_ana=pd.DataFrame({"Purchase Count": gen_pur, "Average Purchase Price":avg_gen, "Total Purchase Value":gen_price})
gen_ana= gen_ana.sort_values("Total Purchase Value", ascending=False)
gen_ana= gen_ana[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
#normalized

gen_ana

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Male,633,2.95,1867.68
Female,136,2.82,382.91
Other / Non-Disclosed,11,3.25,35.74

In [198]:
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Normalized Totals
bins= [0, 25, 50, 75, 100]
#create names of the four bins
age_bin_value = [0, 9, 14, 19, 24, 29, 34, 39, 44, 100]
age_bin_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45<']
p_data_df["Age Demographics"]= pd.cut(p_data_df["Age"], age_bin_value, labels=age_bin_names)
demographic_group = p_data_df.groupby("Age Demographics")
# ageana_byitem=(demographic_group["Item Name"].count())
# ageana_avg=((demographic_group["Price"].mean()))
# ageana_ttlpv=((demographic_group["Price"].sum()))
print(demographic_group["Item Name"].count())#purchase count
print((demographic_group["Price"].mean()))#average
print((demographic_group["Price"].sum()))#Total Purchase Value

Age Demographics
<10       28
10-14     35
15-19    133
20-24    336
25-29    125
30-34     64
35-39     42
40-44     16
45<        1
Name: Item Name, dtype: int64
Age Demographics
<10      2.980714
10-14    2.770000
15-19    2.905414
20-24    2.913006
25-29    2.962640
30-34    3.082031
35-39    2.842857
40-44    3.189375
45<      2.720000
Name: Price, dtype: float64
Age Demographics
<10       83.46
10-14     96.95
15-19    386.42
20-24    978.77
25-29    370.33
30-34    197.25
35-39    119.40
40-44     51.03
45<        2.72
Name: Price, dtype: float64

In [199]:
# age_ana=pd.DataFrame({"Purchase Count": ageana_byitem, "Average Purchase Price":ageana_avg, "Total Purchase Value":ageana_ttlpv})
# age_ana= top_sn.sort_values(["Age Demographics"], ascending=True)
# age_ana= top_sn[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
#normalized

In [200]:
# age_ana.reset_index(inplace=True)
# age_ana.round(2)
# age_ana.head()

In [201]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value
sn_price=p_data_df.groupby(["SN"])['Price'].sum()
sn_pur=p_data_df.groupby(["SN"])['Price'].count()
sn_users=p_data_df.groupby(["SN"])
avg_sn= round(sn_price/sn_pur,2)

top_sn=pd.DataFrame({"Purchase Count": sn_pur, "Average Purchase Price":avg_sn, "Total Purchase Value":sn_price})
top_sn= top_sn.sort_values("Total Purchase Value", ascending=False)
top_sn= top_sn[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

top_sn.reset_index(inplace=True)
top_sn.round(2)
top_sn.head()

            SN  Purchase Count  Average Purchase Price  Total Purchase Value
0  Undirrala66               5                    3.41                 17.06
1     Saedue76               4                    3.39                 13.56
2  Mindimnya67               4                    3.18                 12.74
3   Haellysu29               3                    4.24                 12.73
4       Eoda93               3                    3.86                 11.58

In [202]:
# Identify the 5 most popular items by purchase count, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

by_itemid = p_data_df.groupby('Item ID')
pur_by_item = pd.DataFrame(by_itemid['Item ID'].count()) #counts occurance of item ID by grouping by item ID
pur_by_item.rename(columns = {"Item ID": "Number of Items Sold"}, inplace = True)
pur_by_item
ttlpchsvlu = pd.DataFrame(by_itemid['Price'].sum()) # sums Price grouped by item ID
ttlpchsvlu.rename(columns = {"Price": "Revenue"}, inplace =True)


no_dup_items = p_data_df.drop_duplicates('Item ID')

In [203]:
ttlpchsvlu
top5_pop = no_dup_items.merge(pur_by_item, left_on = "Item ID", right_index = True)
top5_pop = top5_pop.merge(ttlpchsvlu, left_on = "Item ID", right_index = True)
top5_pop = top5_pop[['Item ID', "Item Name", "Price", "Number of Items Sold", "Revenue"]]
top5_pop.sort_values("Number of Items Sold", ascending = False, inplace = True)
top5_pop = top5_pop.iloc[0:6][:] # Instead of top 5 did top six because 4 items had sales of 9 items each
top5_pop

,Item ID,Item Name,Price,Number of Items Sold,Revenue
61,39,"Betrayal, Whisper of Grieving Widows",2.35,11,25.85
116,84,Arcane Gem,2.23,11,24.53
81,175,Woeful Adamantite Claymore,1.24,9,11.16
35,13,Serenity,1.49,9,13.41
56,31,Trickster,2.07,9,18.63
57,34,Retribution Axe,4.14,9,37.26

In [204]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value
top5_prof = no_dup_items.merge(pur_by_item, left_on = "Item ID", right_index = True)
top5_prof = top5_prof.merge(ttlpchsvlu, left_on = "Item ID", right_index = True)
top5_prof = top5_prof[['Item ID', "Item Name", "Number of Items Sold", "Price", "Revenue"]]
top5_prof.sort_values("Revenue", ascending = False, inplace = True)
top5_prof.head()

     Item ID                   Item Name  Number of Items Sold  Price  Revenue
57        34             Retribution Axe                     9   4.14    37.26
107      115  Spectral Diamond Doomblade                     7   4.25    29.75
50        32                     Orenmir                     6   4.95    29.70
100      103              Singed Scalpel                     6   4.87    29.22
164      107   Splitter, Foe Of Subtlety                     8   3.61    28.88